useDynLib(sansSouci)
importFrom(Rcpp, sourceCpp)

exportPattern(".")

importFrom("Matrix", isSymmetric)
importFrom("Matrix", Matrix)
importFrom("matrixStats", rowMaxs)
importFrom("matrixStats", rowRanks)
importFrom("matrixStats", colMins)
